@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #B3AFB3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #969696;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

body {
  background-color: #293952;
}
body .App .loading {
  color: white;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .App .topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 10vh;
  color: white;
  background-color: #222222;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5);
}
body .App .topBar .profileInfo {
  display: flex;
  align-items: center;
}
body .App .topBar .profileInfo img {
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
}
body .App .topBar .profileInfo button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
body .App #SignIn {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background: linear-gradient(110deg, #293952 60%, #1a2535 60%);
}
body .App #Main {
  padding: 20px;
  text-align: center;
}
body .App #Main input[type=text] {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 4px solid whitesmoke;
  color: white;
  font-weight: 500;
  padding: 10px;
  width: 30%;
  font-size: 20px;
}
body .App #Main button {
  padding: 5px 10px;
  font-weight: bold;
  background-color: #28855e;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
body .App #Main #notes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .App #Main #notes .noteThumb {
  color: white;
  padding: 20px;
  text-align: left;
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
body .App #AddNote, body .App #UpdateNote {
  padding-bottom: 50px;
}
body .App #AddNote button, body .App #UpdateNote button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}
body .App #AddNote form, body .App #UpdateNote form {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
body .App #AddNote label, body .App #UpdateNote label {
  font-size: 20px;
  font-weight: bold;
}
body .App #AddNote input[type=text], body .App #AddNote textarea, body .App #UpdateNote input[type=text], body .App #UpdateNote textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}
body .App #AddNote input[type=text], body .App #UpdateNote input[type=text] {
  font-weight: bold;
  font-size: 20px;
}
body .App #AddNote textarea, body .App #UpdateNote textarea {
  font-weight: 500;
  font-size: 16px;
  resize: none;
}
body .App #AddNote input[type=submit], body .App #UpdateNote input[type=submit] {
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #28855e;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
body .App #ReadNote button {
  padding: 20px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
body .App #ReadNote .update {
  background-color: green;
}
body .App #ReadNote .delete {
  background-color: crimson;
}
body .App #ReadNote .update, body .App #ReadNote .delete {
  font-size: 16px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
body .App #ReadNote #body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
body .App #ReadNote #body header {
  text-align: center;
  color: white;
}
body .App #ReadNote #body textarea {
  padding: 20px 10px;
  background: whitesmoke;
  border-radius: 3px;
  font-weight: 500;
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: default;
}
body .App #DeleteNote {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
  text-align: center;
}
body .App #DeleteNote button {
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
body .App #DeleteNote .yes {
  background-color: green;
}
body .App #DeleteNote .no {
  background-color: crimson;
}
@media only screen and (max-width: 800px) {
  #Main input[type=text] {
    width: 90% !important;
  }

  #AddNote form, #UpdateNote form {
    width: 90% !important;
  }

  #ReadNote #body {
    width: 90% !important;
  }
}

/*# sourceMappingURL=App.css.map */
